VITE_SUPABASE_URL=https://madhnubzwfdtfbolyymj.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=madhnubzwfdtfbolyymj
COMMERCE_OWNER_AUTH_ID=77851826-3bd5-452f-bd99-c20d78124e64
KIOSCO_ID=a1362a1a-5d4d-4d79-b289-b18ab0cd957e
ECOMMERCE_DEFAULT_PAYMENT_METHOD_ID=DEFAULT_PENDIENTE
