NEXT_PUBLIC_SUPABASE_URL=https://xbfhomcrcexlwecawytm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=xbfhomcrcexlwecawytm
KIOSCO_ID=573c9044-3174-4615-9f33-663c5a2ea4d8
COMMERCE_OWNER_AUTH_ID=
ECOMMERCE_DEFAULT_PAYMENT_METHOD_ID=DEFAULT_PENDIENTE
